.DS_Store
**/.DS_Store
build/
iBru.app.dSYM.zip
iBru.ipa
fastlane/report.xml
Brewfile.lock.json
iBru.xcodeproj/project.xcworkspace/xcuserdata
iBru.xcodeproj/project.xcworkspace/contents.xcworkspacedata
iBru.xcodeproj/xcuserdata/
.idea/
*.iml
